.navbar{
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0rem;
    background-color: #fff;
    .navbar-brand{
        padding-left: 2rem;
    }
}
.navbar-nav{
    line-height: 4.5;
    .nav-item{
        a.nav-link{
            color: #000;
            padding-right: 2rem;
            @media only screen and (max-width: 575px) {
                padding-right: 0;
            }
        }
        &.nav-redeem{
            background-color: #ec2828;
            &:hover{
                background-color: #191919;    
            }
            a.nav-link{
                color: #fff;
                padding-left: 2rem;
                @media only screen and (max-width: 575px) {
                    padding-left: 0;
                }
            }
        }
    }
}
.navbar-dark .navbar-nav .show > .nav-link, 
.navbar-dark .navbar-nav .active > .nav-link, 
.navbar-dark .navbar-nav .nav-link.show, 
.navbar-dark .navbar-nav .nav-link.active {
    color: #333;
}
.navbar-dark .navbar-nav .nav-link:hover, 
.navbar-dark .navbar-nav .nav-link:focus {
    color: #ec2828;
}
.navbar-toggler{
    padding: 1.5rem;
}
.navbar-toggler-icon{
    background-color: #ec2828;
    width: 2em;
    height: 2em;
    background-size: 31px;
    border-radius: 5px;
}
.navbar-collapse.collapse.show,
.navbar-collapse.collapsing{
    .nav-item{
        line-height: 3;
        text-align: center;
        border-top: solid 1px #ec2828;
    }
}